Node-RED/flows.json
[{"id":"b2e5a3d1.dd4dc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d57771de.da828","type":"function","z":"b2e5a3d1.dd4dc","name":"","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":357,"y":370.20001220703125,"wires":[["d0f3ff34.6b5ba"]],"l":false},{"id":"9e90e922.abef18","type":"function","z":"b2e5a3d1.dd4dc","name":"bot","func":"msg.payload=msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":543,"y":369.20001220703125,"wires":[["226e6e51.eb64e2","209256d7.cb459a"]],"l":false},{"id":"209256d7.cb459a","type":"debug","z":"b2e5a3d1.dd4dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":672.600058555603,"y":439.20001888275146,"wires":[],"l":false},{"id":"ed683ea6.e8547","type":"inject","z":"b2e5a3d1.dd4dc","name":"","topic":"hi","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":199.60000610351562,"y":256.4000015258789,"wires":[["d57771de.da828"]],"l":false},{"id":"626b115f.bfd4c","type":"ui_form","z":"b2e5a3d1.dd4dc","name":"","label":"","group":"e0e24f17.1c88d","order":2,"width":0,"height":0,"options":[{"label":"Enter your query here","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":196,"y":383.20001220703125,"wires":[["d57771de.da828"]],"l":false},{"id":"688393cf.9973bc","type":"ui_text","z":"b2e5a3d1.dd4dc","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":-13,"y":397,"wires":[],"l":false},{"id":"226e6e51.eb64e2","type":"ui_text","z":"b2e5a3d1.dd4dc","group":"e0e24f17.1c88d","order":3,"width":"6","height":"6","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":676,"y":362.20001220703125,"wires":[],"l":false},{"id":"d0f3ff34.6b5ba","type":"watson-conversation-v1","z":"b2e5a3d1.dd4dc","name":"chatbot","workspaceid":"ead4878d-fed9-48b8-a9d2-a855a96715d0","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/ee6f3473-e246-4de9-bf65-ef6c97ef2d00","timeout":"","optout-learning":false,"x":460,"y":300,"wires":[["9e90e922.abef18"]]},{"id":"e0e24f17.1c88d","type":"ui_group","z":"","name":"Chatbot","tab":"dac2df11.af72f","order":1,"disp":true,"width":"6","collapse":false},{"id":"dac2df11.af72f","type":"ui_tab","z":"","name":"ecobee3 - Customer Help Desk","icon":"dashboard","disabled":false,"hidden":false}]